<h1 class="logo landing-page-title">NetSearch</h1>

<form method="POST" action="/login" class="default-form">
  <h2>Login</h2>
  <% if (error) { %>
    <span class="warning"><%= error %></span>
  <% } %>
  <input type="email" name="email" class="field">
  <input type="password" name="password" minlength="6" class="field">
  <input type="submit" value="submit" class="button">
</form>

<a href="/signup" class="form-signup">signup</a>