<h1 class="logo landing-page-title">NetSearch</h1>

<form method="POST" action="/user" class="default-form">
  <h2>Signup</h2>
  <input type="email" name="email" class="field">
  <input type="password" name="password" class="field">
  <input type="hidden" name="likes" value="">
  <input type="submit" value="submit" class="button">
</form>