body {
  background-color: #252525;
}

h1 {
  display: inline-block;
  float: left;
  margin-right: 50px;
  font: 40px 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  color: #f86759;
}

.menu {
  width: 100%;
  height: 100px;
  background-color: #55595d;
  padding: 25px 20px;
}

#search-form {
  float: left;
  height: 50px;
  width: 50%;
  position: relative;
}

.filter-container {
  position: absolute;
  z-index: 2;
  width: 120px;
  height: 50px;
  float: left;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3.5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #6ed3cf;
    z-index: 1;
  }
}

.filter {
  width: 120px;
  height: 50px;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  outline: none;
  padding-left: 10px;
  letter-spacing: 1px;
  position: absolute;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }

  option {
    color: #000000;
  }
}

.search {
  height: 100%;
  width: 70%;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  float: left;
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid #ffffff;
  color: #ffffff;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  padding-left: 130px;
  font-family: arial;
}

.search::-webkit-input-placeholder {
  color: #efb480;
}

.movie-list {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: stretch;
}

.poster-container {
  min-width: 284px;
  max-width: 285px;
  height: 405px;
  overflow: hidden;
  position: relative;
  float: left;
}

.poster-container {
  img {
    transition: all 0.5s ease;
    height: 405px;
  }
  
  &:hover {
    img {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }
}

.poster-container:hover {
  .like-button {
    visibility: visible;
  }
}

.like-button {
  fill: transparent;
  stroke: #e62739;
  padding-top: 1px;
  width: 70px;
  animation: pulse 1s ease infinite;
  position: absolute;
  height: 50px;
  margin-top: -25px;
  top: 50%;
  margin-left: -27px;
  left: 50%;
  visibility: hidden;

  &.liked {
    fill: #e62739;
    animation: none;

    &:hover {
      fill: transparent;
    }
  }

  &:active {
    animation: none;
    fill: #ffffff;
    stroke: none;
  }

  &:hover {
    fill: #e62739;
    animation: none;
    cursor: pointer;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.default-page {
  height: 100%;
}

.page-message {
  color: #e1e8f0;
  text-align: center;
  font-size: 40px;
  font-family: arial;
  margin-top: 80px;
}

.page-message-line {
  display: block;
  margin-bottom: 10px;
}